html {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    color: black;
  }

body {
    background-color: ivory; 
}

main {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.wrapper {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

hr {
    border-top: 1px solid lightgray;
    margin: 0;
}

div img {
    width: 80%;
}

h1 {
    font-size: 4rem;
    line-height: 1rem;
}

@media (max-width: 820px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }
}

.title {
    font-size: 2rem;
}

@media (max-width: 820px) {
    .title {
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 1rem;
    }
}

details {
    width: 50vw;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    padding-right: 1rem;
}

@media (max-width: 820px) {
    details {
        cursor: none;
        width: 60vw;
    }
}

@media (max-width: 320px) {
    details {
        cursor: none;
        width: 80vw;
    }
}

summary {
    list-style: none;
    text-align: left;
    margin: 1rem 0;
    color: #0088ff;
}

details[open]  summary {
    list-style: none;
    background: url("./icon_close.svg") no-repeat right  transparent;
    background-size: 1.3rem;
    margin: 1rem 0;
    color: black;
}

@media (max-width: 320px) {
    details[open]  summary {
       background-size: 0.8rem;
    }
}

details div {
    margin: auto;
    padding: 2rem;
    animation: spoiler 0.5s;
}

@media (max-width: 820px) {
    details div {
        padding: 1.5rem;
    }
}

@media (max-width: 320px) {
    details div {
        padding: 1rem;
    }
}

@keyframes spoiler {
    0%   {transform: scale(0.2, 0.2)}
    100% {transform: scale(1.0, 1.0)}
}

.accordeon {
    padding: 5px;
}

.accordeon:hover > details summary {
    background: url("./icon_open.svg") no-repeat right  transparent;
    background-size: 1.5rem;
    color: black;
}

@media (max-width: 320px) {
    .accordeon:hover > details summary {
       background-size: 1rem;
    }
}

.accordeon:hover > details[open] summary {
    background: url("./icon_close.svg") no-repeat right  transparent;
    background-size: 1.3rem;
    color: black;
}

@media (max-width: 320px) {
    .accordeon:hover > details[open] summary  {
        background-size: 0.8rem;
    }
}